:root {
  --black-color: #000;
  --white-color: #fff;
}

.board {
  grid-template-columns: repeat(8, 1fr);
}

.black .square {
  background-color: var(--black-color);
}

.white .square {
  background-color: var(--white-color);
}

.square {
  display: grid;
  place-items: center;
}

body {
  min-height: 100vh;
  background-color: #0f172c;
  color: #fff;
}
